<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    <ion-input
      placeholder="Password"
      type="password"
      [(ngModel)]="password"
    ></ion-input>
    <ion-button color="primary" (click)="login()">Login</ion-button>
    <ion-button color="success" (click)="register()">Register</ion-button>
  </div>
</ion-content>
